@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

}

html {
    scroll-behavior: smooth;
}
                        /* Navigation bar */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 3px;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;

}
.codeLogo {
    max-width: 75px;
    max-height: 75px;
    margin: 0px 35px;
}
.nav-area {
    list-style: none;
    font-weight: bold;
}
.nav-area li {
    display: inline-block;
    padding: 0px 35px;
}
.nav-area li a {
    transition: all o.3s ease 0s;
    
    color: rgb(0, 0, 0);
}
.nav-area li a:hover {
    color: rgba(114, 114, 114, 0.8);
}

                        /* Skills section */

.about {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 250px 100px;
}
h1 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    padding: 25px;
    letter-spacing: 3px;
    text-shadow: 5px 2px 10px white;
}

.intro {
    color: white;
    letter-spacing: 3px;
    text-shadow: 5px 2px 10px white;
}

                        /* Skills  */
.skills-p {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 50px;
    margin: 100px;
    letter-spacing: 3px;
    border: 1px solid black;
    border-radius: 10px;
}
.skills {
    padding: 30px;
    display: flex;
    align-items: center;
}

.column {
    float: left;
    width: 17%;
    padding: 35px;
}

/* Projects */

.projects {
    display: flex;
    justify-content:space-evenly;
    
}

.projects-p {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 50px;
    margin: 100px;
    letter-spacing: 3px;
    border: 1px solid black;
    border-radius: 10px;
}

.project-link-one, .project-link-two, .project-link-three  {
    
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    margin: 25px;
    padding: 25px;
    letter-spacing: 3px;
    font-size: 20px;
    text-shadow: 5px 2px 10px white;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border: 1px solid grey;
    cursor: pointer;
    text-decoration: none;
    transition: 0.7s;
    background-color: turquoise;
    
}
.project-link-one:hover, .project-link-two:hover, .project-link-three:hover {
    transform: scale(1.05);
}



/* Contact */

.contact-p {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 50px;
    margin: 100px;
    letter-spacing: 3px;
    border: 1px solid black;
    border-radius: 10px;

}

.contact-img{
    height: 150px;
    width: 150px;
}

.contact1 {
    float: left;
    width: 25%;
    padding: 60px;
}